<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Comment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="qiniukey" property="qiniukey" jdbcType="VARCHAR" />
    <association property="customer" column="customer_id"
			select="com.lettucetech.me2.dao.CustomerMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.pid != null" >
         and pid = #{condition.pid}
      </if>
      <if test="condition.customerId != null" >
         and customer_id = #{condition.customerId}
      </if>
      <if test="condition.content != null" >
         and content = #{condition.content}
      </if>
      <if test="condition.creatTime != null" >
         and creat_time = #{condition.creatTime}
      </if>
      <if test="condition.qiniukey != null" >
         and qiniukey = #{condition.qiniukey}
      </if>
      <if test="condition.del != null" >
         and del = #{condition.del}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    comment_id, pid, customer_id, content, creat_time, qiniukey,del
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause} ${sord}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{commentId}
  </select>
  <select id="selectByPid"  resultMap="BaseResultMap"  parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from comment
    where pid = #{pid} and del=0 order by  creat_time desc
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where comment_id = #{commentId}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Comment" >
    insert into comment (comment_id, pid, customer_id, content, creat_time, qiniukey,del
      )
    values (#{commentId}, #{pid}, #{customerId}, #{content}, #{creatTime}, #{qiniukey},#{del}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Comment" >
  	<selectKey keyProperty="commentId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="qiniukey != null" >
        qiniukey,
      </if>
      <if test="del != null" >
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId},
      </if>
      <if test="pid != null" >
        #{pid},
      </if>
      <if test="customerId != null" >
        #{customerId},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="creatTime != null" >
        #{creatTime},
      </if>
      <if test="qiniukey != null" >
        #{qiniukey},
      </if>
      <if test="del != null" >
        #{del},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.commentId != null" >
        comment_id = #{record.commentId},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId},
      </if>
      <if test="record.content != null" >
        content = #{record.content},
      </if>
      <if test="record.creatTime != null" >
        creat_time = #{record.creatTime},
      </if>
      <if test="record.qiniukey != null" >
        qiniukey = #{record.qiniukey},
      </if>
      <if test="record.del != null" >
        del = #{record.del},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update comment
    set comment_id = #{record.commentId},
      pid = #{record.pid},
      customer_id = #{record.customerId},
      content = #{record.content},
      creat_time = #{record.creatTime},
      qiniukey = #{record.qiniukey},
      del = #{record.del}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Comment" >
    update comment
    <set >
      <if test="pid != null" >
        pid = #{pid},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime},
      </if>
      <if test="qiniukey != null" >
        qiniukey = #{qiniukey},
      </if>
      <if test="del != null" >
        del = #{del},
      </if>
    </set>
    where comment_id = #{commentId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Comment" >
    update comment
    set pid = #{pid},
      customer_id = #{customerId},
      content = #{content},
      creat_time = #{creatTime},
      qiniukey = #{qiniukey},
      del = #{del}
    where comment_id = #{commentId}
  </update>
</mapper>