<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.EmployMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Employ" >
    <id column="server_id" property="serverId" jdbcType="INTEGER" />
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="role" property="role" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.role != null" >
         and role = #{condition.role}
      </if>
      <if test="condition.createTime != null" >
         and create_time = #{condition.createTime}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    server_id, shop_id, role, create_time
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.EmployKey" >
    select 
    <include refid="Base_Column_List" />
    from employ
    where server_id = #{serverId}
      and shop_id = #{shopId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lettucetech.me2.pojo.EmployKey" >
    delete from employ
    where server_id = #{serverId}
      and shop_id = #{shopId}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from employ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Employ" >
    insert into employ (server_id, shop_id, role, create_time)
    values (#{serverId}, #{shopId}, #{role}, #{createTime})
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Employ" >
    insert into employ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        server_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        #{serverId},
      </if>
      <if test="shopId != null" >
        #{shopId},
      </if>
      <if test="role != null" >
        #{role},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from employ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update employ
    <set >
      <if test="record.serverId != null" >
        server_id = #{record.serverId},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId},
      </if>
      <if test="record.role != null" >
        role = #{record.role},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update employ
    set server_id = #{record.serverId},
      shop_id = #{record.shopId},
      role = #{record.role},
      create_time = #{record.createTime}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Employ" >
    update employ
    <set >
      <if test="role != null" >
        role = #{role},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
    </set>
    where server_id = #{serverId}
      and shop_id = #{shopId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Employ" >
    update employ
    set role = #{role},
      create_time = #{createTime}
    where server_id = #{serverId}
      and shop_id = #{shopId}
  </update>
</mapper>