<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.GamecommentMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Gamecomment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.customerId != null" >
         and customer_id = #{condition.customerId}
      </if>
      <if test="condition.comments != null" >
         and comments = #{condition.comments}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, customer_id, comments
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gamecomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gamecomment
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gamecomment
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from gamecomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Gamecomment" >
    insert into gamecomment (id, customer_id, comments)
    values (#{id}, #{customerId}, #{comments})
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Gamecomment" >
    insert into gamecomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="comments != null" >
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="customerId != null" >
        #{customerId},
      </if>
      <if test="comments != null" >
        #{comments},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from gamecomment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update gamecomment
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId},
      </if>
      <if test="record.comments != null" >
        comments = #{record.comments},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update gamecomment
    set id = #{record.id},
      customer_id = #{record.customerId},
      comments = #{record.comments}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Gamecomment" >
    update gamecomment
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId},
      </if>
      <if test="comments != null" >
        comments = #{comments},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Gamecomment" >
    update gamecomment
    set customer_id = #{customerId},
      comments = #{comments}
    where id = #{id}
  </update>
</mapper>