<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.OthernameMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Othername" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="schoolid" property="schoolid" jdbcType="INTEGER" />
    <result column="othername" property="othername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.schoolid != null" >
         and schoolid = #{condition.schoolid}
      </if>
      <if test="condition.othername != null" >
         and othername = #{condition.othername}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, schoolid, othername
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from othername
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from othername
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from othername
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from othername
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Othername" >
    insert into othername (id, schoolid, othername)
    values (#{id}, #{schoolid}, #{othername})
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Othername" >
    insert into othername
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolid != null" >
        schoolid,
      </if>
      <if test="othername != null" >
        othername,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="schoolid != null" >
        #{schoolid},
      </if>
      <if test="othername != null" >
        #{othername},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from othername
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update othername
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.schoolid != null" >
        schoolid = #{record.schoolid},
      </if>
      <if test="record.othername != null" >
        othername = #{record.othername},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update othername
    set id = #{record.id},
      schoolid = #{record.schoolid},
      othername = #{record.othername}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Othername" >
    update othername
    <set >
      <if test="schoolid != null" >
        schoolid = #{schoolid},
      </if>
      <if test="othername != null" >
        othername = #{othername},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Othername" >
    update othername
    set schoolid = #{schoolid},
      othername = #{othername}
    where id = #{id}
  </update>
</mapper>