<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.PicturerecommendMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Picturerecommend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="period" property="period" jdbcType="TIMESTAMP" />
    <association property="picture" column="pid"	select="com.lettucetech.me2.dao.PictureMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.pid != null" >
         and pid = #{condition.pid}
      </if>
      <if test="condition.sort != null" >
         and sort = #{condition.sort}
      </if>
      <if test="condition.period != null" >
         and period = #{condition.period}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, sort, period
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from picturerecommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="selectByParams4Hot" parameterType="com.lettucetech.me2.pojo.Criteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from picturerecommend where period>now()
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from picturerecommend
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from picturerecommend
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from picturerecommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Picturerecommend" >
    insert into picturerecommend (id, pid, sort, period)
    values (#{id}, #{pid}, #{sort}, #{period})
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Picturerecommend" >
    insert into picturerecommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="period != null" >
        period,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="pid != null" >
        #{pid},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="period != null" >
        #{period},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from picturerecommend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update picturerecommend
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort},
      </if>
      <if test="record.period != null" >
        period = #{record.period},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update picturerecommend
    set id = #{record.id},
      pid = #{record.pid},
      sort = #{record.sort},
      period = #{record.period}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Picturerecommend" >
    update picturerecommend
    <set >
      <if test="pid != null" >
        pid = #{pid},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="period != null" >
        period = #{period},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Picturerecommend" >
    update picturerecommend
    set pid = #{pid},
      sort = #{sort},
      period = #{period}
    where id = #{id}
  </update>
</mapper>