<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.PicturehotMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Picturehot" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="tagslist_id" property="tagslistId" jdbcType="INTEGER" />
    <association property="picture" column="pid" select="com.lettucetech.me2.dao.PictureMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.pid != null" >
         and pid = #{condition.pid}
      </if>
      <if test="condition.tagslistId != null" >
         and tagslist_id = #{condition.tagslistId}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, tagslist_id
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from picturehot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="selectByParams4Rand" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from picturehot
    <where>
	    <if test="condition.tagslistId != null" >
	         and tagslist_id = #{condition.tagslistId}
	      </if>
    	<if test="condition.plist.size()>0">
	    	<foreach collection="condition.plist" item="p" open="and pid not in(" close=")" separator=",">
	    		#{p}
	    	</foreach>
    	</if>
    </where>
    order by rand() LIMIT #{condition.size}
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from picturehot
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from picturehot
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from picturehot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Picturehot" >
    insert into picturehot (id, pid, tagslist_id)
    values (#{id}, #{pid}, #{tagslistId})
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Picturehot" >
    insert into picturehot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="tagslistId != null" >
        tagslist_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="pid != null" >
        #{pid},
      </if>
      <if test="tagslistId != null" >
        #{tagslistId},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from picturehot
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update picturehot
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid},
      </if>
      <if test="record.tagslistId != null" >
        tagslist_id = #{record.tagslistId},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update picturehot
    set id = #{record.id},
      pid = #{record.pid},
      tagslist_id = #{record.tagslistId}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Picturehot" >
    update picturehot
    <set >
      <if test="pid != null" >
        pid = #{pid},
      </if>
      <if test="tagslistId != null" >
        tagslist_id = #{tagslistId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Picturehot" >
    update picturehot
    set pid = #{pid},
      tagslist_id = #{tagslistId}
    where id = #{id}
  </update>
</mapper>