<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.PresentMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Present" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="present_customer_id" property="presentCustomerId" jdbcType="INTEGER" />
    <result column="present_type" property="presentType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.customerId != null" >
         and customer_id = #{condition.customerId}
      </if>
      <if test="condition.presentCustomerId != null" >
         and present_customer_id = #{condition.presentCustomerId}
      </if>
      <if test="condition.presentType != null" >
         and present_type = #{condition.presentType}
      </if>
      <if test="condition.createTime != null" >
         and create_time = #{condition.createTime}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, customer_id, present_customer_id, present_type, create_time
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from present
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from present
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Present" >
    insert into present (id, customer_id, present_customer_id, present_type, create_time
      )
    values (#{id}, #{customerId}, #{presentCustomerId}, #{presentType}, #{createTime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Present" >
    insert into present
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="presentCustomerId != null" >
        present_customer_id,
      </if>
      <if test="presentType != null" >
        present_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="customerId != null" >
        #{customerId},
      </if>
      <if test="presentCustomerId != null" >
        #{presentCustomerId},
      </if>
      <if test="presentType != null" >
        #{presentType},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from present
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update present
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId},
      </if>
      <if test="record.presentCustomerId != null" >
        present_customer_id = #{record.presentCustomerId},
      </if>
      <if test="record.presentType != null" >
        present_type = #{record.presentType},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update present
    set id = #{record.id},
      customer_id = #{record.customerId},
      present_customer_id = #{record.presentCustomerId},
      present_type = #{record.presentType},
      create_time = #{record.createTime}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Present" >
    update present
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId},
      </if>
      <if test="presentCustomerId != null" >
        present_customer_id = #{presentCustomerId},
      </if>
      <if test="presentType != null" >
        present_type = #{presentType},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Present" >
    update present
    set customer_id = #{customerId},
      present_customer_id = #{presentCustomerId},
      present_type = #{presentType},
      create_time = #{createTime}
    where id = #{id}
  </update>
</mapper>