<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.School" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="school_longtitude" property="schoolLongtitude" jdbcType="VARCHAR" />
    <result column="school_latitude" property="schoolLatitude" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.schoolName != null" >
         and school_name = #{condition.schoolName}
      </if>
      <if test="condition.schoolLongtitude != null" >
         and school_longtitude = #{condition.schoolLongtitude}
      </if>
      <if test="condition.schoolLatitude != null" >
         and school_latitude = #{condition.schoolLatitude}
      </if>
      <if test="condition.city != null" >
         and city = #{condition.city}
      </if>
      <if test="condition.province != null" >
         and province = #{condition.province}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, school_name, school_longtitude, school_latitude, city, province
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from school
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from school
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from school
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from school
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.School" >
    insert into school (id, school_name, school_longtitude, school_latitude, city, province
      )
    values (#{id}, #{schoolName}, #{schoolLongtitude}, #{schoolLatitude}, #{city}, #{province}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.School" >
    insert into school
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolName != null" >
        school_name,
      </if>
      <if test="schoolLongtitude != null" >
        school_longtitude,
      </if>
      <if test="schoolLatitude != null" >
        school_latitude,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="schoolName != null" >
        #{schoolName},
      </if>
      <if test="schoolLongtitude != null" >
        #{schoolLongtitude},
      </if>
      <if test="schoolLatitude != null" >
        #{schoolLatitude},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="province != null" >
        #{province},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from school
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update school
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.schoolName != null" >
        school_name = #{record.schoolName},
      </if>
      <if test="record.schoolLongtitude != null" >
        school_longtitude = #{record.schoolLongtitude},
      </if>
      <if test="record.schoolLatitude != null" >
        school_latitude = #{record.schoolLatitude},
      </if>
      <if test="record.city != null" >
        city = #{record.city},
      </if>
      <if test="record.province != null" >
        province = #{record.province},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update school
    set id = #{record.id},
      school_name = #{record.schoolName},
      school_longtitude = #{record.schoolLongtitude},
      school_latitude = #{record.schoolLatitude},
      city = #{record.city},
      province = #{record.province}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.School" >
    update school
    <set >
      <if test="schoolName != null" >
        school_name = #{schoolName},
      </if>
      <if test="schoolLongtitude != null" >
        school_longtitude = #{schoolLongtitude},
      </if>
      <if test="schoolLatitude != null" >
        school_latitude = #{schoolLatitude},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.School" >
    update school
    set school_name = #{schoolName},
      school_longtitude = #{schoolLongtitude},
      school_latitude = #{schoolLatitude},
      city = #{city},
      province = #{province}
    where id = #{id}
  </update>
</mapper>