<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lettucetech.me2.dao.TaskMapper" >
  <resultMap id="BaseResultMap" type="com.lettucetech.me2.pojo.Task" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="tasktype" property="tasktype" jdbcType="INTEGER" />
    <result column="taskstyle" property="taskstyle" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="custom" property="custom" jdbcType="INTEGER" />
    <result column="award" property="award" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.title != null" >
         and title = #{condition.title}
      </if>
      <if test="condition.content != null" >
         and content = #{condition.content}
      </if>
      <if test="condition.tasktype != null" >
         and tasktype = #{condition.tasktype}
      </if>
      <if test="condition.taskstyle != null" >
         and taskstyle = #{condition.taskstyle}
      </if>
      <if test="condition.createTime != null" >
         and create_time = #{condition.createTime}
      </if>
      <if test="condition.lastTime != null" >
         and last_time = #{condition.lastTime}
      </if>
      <if test="condition.custom != null" >
         and custom = #{condition.custom}
      </if>
      <if test="condition.award != null" >
         and award = #{condition.award}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, title, content, tasktype, taskstyle, create_time, last_time, custom, award
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.lettucetech.me2.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task
    where id = #{id}
  </delete>
  <delete id="deleteByParams" parameterType="com.lettucetech.me2.pojo.Criteria" >
    delete from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lettucetech.me2.pojo.Task" >
    insert into task (id, title, content, tasktype, taskstyle, create_time, last_time, 
      custom, award)
    values (#{id}, #{title}, #{content}, #{tasktype}, #{taskstyle}, #{createTime}, #{lastTime}, 
      #{custom}, #{award})
  </insert>
  <insert id="insertSelective" parameterType="com.lettucetech.me2.pojo.Task" >
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tasktype != null" >
        tasktype,
      </if>
      <if test="taskstyle != null" >
        taskstyle,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="custom != null" >
        custom,
      </if>
      <if test="award != null" >
        award,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="title != null" >
        #{title},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="tasktype != null" >
        #{tasktype},
      </if>
      <if test="taskstyle != null" >
        #{taskstyle},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="lastTime != null" >
        #{lastTime},
      </if>
      <if test="custom != null" >
        #{custom},
      </if>
      <if test="award != null" >
        #{award},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.lettucetech.me2.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update task
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.title != null" >
        title = #{record.title},
      </if>
      <if test="record.content != null" >
        content = #{record.content},
      </if>
      <if test="record.tasktype != null" >
        tasktype = #{record.tasktype},
      </if>
      <if test="record.taskstyle != null" >
        taskstyle = #{record.taskstyle},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime},
      </if>
      <if test="record.custom != null" >
        custom = #{record.custom},
      </if>
      <if test="record.award != null" >
        award = #{record.award},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update task
    set id = #{record.id},
      title = #{record.title},
      content = #{record.content},
      tasktype = #{record.tasktype},
      taskstyle = #{record.taskstyle},
      create_time = #{record.createTime},
      last_time = #{record.lastTime},
      custom = #{record.custom},
      award = #{record.award}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lettucetech.me2.pojo.Task" >
    update task
    <set >
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="tasktype != null" >
        tasktype = #{tasktype},
      </if>
      <if test="taskstyle != null" >
        taskstyle = #{taskstyle},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime},
      </if>
      <if test="custom != null" >
        custom = #{custom},
      </if>
      <if test="award != null" >
        award = #{award},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lettucetech.me2.pojo.Task" >
    update task
    set title = #{title},
      content = #{content},
      tasktype = #{tasktype},
      taskstyle = #{taskstyle},
      create_time = #{createTime},
      last_time = #{lastTime},
      custom = #{custom},
      award = #{award}
    where id = #{id}
  </update>
</mapper>